<div class="grid-y grid-frame">
  <div class="grid-x grid-frame">
      <app-upcoming-events></app-upcoming-events>
    <div class="small-9 cell">
      <div class="grid-y grid-frame">
        <div class="grid-x" style="background-color: #00338e">
          <div class="small-3 cell">
            <img src="assets/WSU_Logo_Seal_Type_Hz-Wht.png" align="center" hspace="8%" vspace="5%" alt="WSU Logo">
          </div>
          <div class="small-9 cell" align="center">
            <div style="color: white; font-family: Cambria; font-size: 700%">Aisiku STEM Center</div>
            <div style="color: white; font-family: Arial; font-size: 200%; margin-top: -4%">
              https://www.worcester.edu/Aisiku-STEM-Center/
            </div>
          </div>
        </div>
        <div class="cell" style="max-height: 100vh">
          <app-carousel></app-carousel>
        </div>
      </div>
    </div>
  </div>
  <div class="cell footer" style="background-color: #00338e; font-size: 400%; font-weight: bold; color: white">
    <app-current-next></app-current-next>
  </div>
</div>
